.resume {
  text-align: left;
  width: 80%;
  margin: auto;
}

.experience {
  border: none !important;
}

.skills {
  border: none !important;
}

.start_end {
  text-align: right;
}

.list-group > ul{
  padding-left: 0;
}